<div class="row">
    
    <div class="col-md-12 text-center"><h1>NAS (Nursing Activities Score)</h1></div>
    
    <hr>
    <div>
    <%= link_to "Agregar", new_nascore_path , class: "btn btn-primary"%>
    </div>
    <div class="separador"></div>
    <div class="col-md-12">
        <table class="table">
        <thead>
            <tr>
                <th scope="col">cod</th>
                <th scope="col">Descripción</th>
                <th scope="col">Valor</th>
                <th scope="col">Tipo</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <% @nas.order(:cod).each do |n| %>
            <tr>
                <th scope="row"><%= n.cod %></th>
                <td><%= n.description %></td>
                <td><%= n.score %></td>
                <td><%= n.tipo %></td>
                <td><%=  link_to "Editar", edit_nascore_path(n)%>  &nbsp;
                    <%= link_to "Eliminar",n, class: "text-danger", method: :delete, data: { confirm: "¿Estás seguro de eliminar este NAS?" } %>
                </td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>
